// COLORS
$color-primary: #19535f;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #f7f7f7;

$color-secondary: #177e89;

$color-tertiary: #dadff7;
$color-tertiary-dark: #9696c7;

// GRID
$grid-width: 114rem;
$gutter-vert: 8rem;
$gutter-hori: 6rem;

$default-font-size: 1.6rem;
