/* 
--- Colors: ---
Rich black: #0D1321
Ivory: #feffea
Midnight green: #19535f
Lavender: #dadff7
Metallic Seaweed: #177e89
grey-dark-1: #333;
grey-dark-2: #777;
grey-dark-3: #999;
*/

/* Global settings */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* CTA */

.header {
  width: 100%;
  height: 30rem;
  background-image: linear-gradient(to bottom, #19535f, #177e89);
  border-bottom: 1px solid #999;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
}

.CTA {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.CTA__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid #999;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  margin: -15rem;
  background-color: white;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
}

.CTA__heading--primary {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  color: #333;
}

.CTA__heading--secondary {
  font-family: 'Varela Round', sans-serif;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}

.CTA__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

/* Login */

.CTA__buttons--login {
  font-family: 'Varela Round', sans-serif;
  font-size: 2.5rem;
  width: 30rem;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  background-color: #177e89;
  margin-bottom: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.CTA__buttons--signup {
  font-family: 'Varela Round', sans-serif;
  font-size: 2.5rem;
  width: 30rem;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  background-color: #177e89;
  margin-top: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.login__form--email {
  padding: 1rem;
  width: 65%;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  border: 1px solid #999;
  border-radius: 5px;
}

.login__form--password {
  padding: 1rem;
  width: 65%;
  margin-top: 0.75rem;
  border: 1px solid #999;
  border-radius: 5px;
}

.CTA__buttons--login-submit {
  margin-top: 2rem;
}

/* Sign up */

.CTA__buttons--login {
  font-family: 'Varela Round', sans-serif;
  font-size: 2.5rem;
  width: 30rem;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  background-color: #177e89;
  margin-bottom: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.CTA__buttons--signup {
  font-family: 'Varela Round', sans-serif;
  font-size: 2.5rem;
  width: 30rem;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  background-color: #177e89;
  margin-top: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.signup__form--firstname {
  padding: 1rem;
  width: 65%;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  border: 1px solid #999;
  border-radius: 5px;
}

.signup__form--lastname {
  padding: 1rem;
  width: 65%;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  border: 1px solid #999;
  border-radius: 5px;
}

.signup__form--email {
  padding: 1rem;
  width: 65%;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  border: 1px solid #999;
  border-radius: 5px;
}

.signup__form--password {
  padding: 1rem;
  width: 65%;
  margin-top: 1.5rem;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 0.75rem;
}

.signup__form--password-confirm {
  padding: 1rem;
  width: 65%;
  margin-top: 1.5rem;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 0.75rem;
}

.CTA__buttons--signup-submit {
  margin-top: 2rem;
}

/* Navbar */
